<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('extra/meta-data') %>
        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/post.css">
        <link rel="stylesheet" href="/style/allpost.css">
        <link rel="stylesheet" href="/style/footer.css">
        <script src="/scripts/file-priview.js" defer></script>
        <title>Login</title>
</head>

<body>

    <div class="main-pane">
    
        <h1>Login.</h1>


        <div id="inser-form">

            <div id="form-head">
                <a href="/blog-home"><h3><img src="image/dating-app-logo-tinder-removebg-preview (1).png" alt="" style="width: 5rem;">fireShip</h3></a>
                <h4>ENTER LOGIN CREDENTIALS</h4>
                <img src="/image/6076f540d539fa8c97126f0b_straigtaway.svg" alt="image">

                <% if(notUser) { %>
                    <p class="errorMessage">User not Found</p>
                <% } else if(password){ %>
                    <p class="errorMessage">Incorrect Password</p>
                    <% } else if(passreset) { %>
                        <p class="noterrorMessage">Password Reset</p>
                    <% } %>

        <a href="/sign-up"><p class="already">Create Account<p></a>
        <a href="/reset"><p class="already">Reset Password<p></a>

            </div>

            <div id="form">

                <form action="/login" method="POST">

                    <label for="email">
                        <h3>Enter Email Address</h3>
                    </label>
                    <input type="email" name="email" id="email" required>

                    <label for="password">
                        <h3>Password</h3>
                    </label>
                    <input type="password" name="password" id="password" required>

                    <button type="submit">
                        <h3>Login</h3>
                    </button>

                </form>
            </div>
        </div>
    </div>

        <%- include('extra/footer') %>

</body>

</html>

